{{ block "index" .  }}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ .MainDisplay.Name }}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width", initial-scale=1>
        <!-- htmx -->
        <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.11/dist/htmx.min.js" integrity="sha384-2OatzQy1H+Zd/IIrjr1TcuDGqLXeHhbooAyJY1KdQMKnr4LZ22k31GBLdYKHmVjg" crossorigin="anonymous"></script>
        <!-- tailwind -->
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
        <!--
        <script>
            document.addEventListener("DOMContentLoaded", (event) => {
                window.history.replaceState({}, "", "/")
            })
        </script>
        -->
    </head>
    <body id="body">
        <div class="
            w-full
            h-dvh
            flex
            flex-col
            max-w-[800px]
            mx-auto
            px-[20px]
            "
        >
            <!-- top / searchbar -->
            <div class="
                w-full
                h-fit
                pt-[5%]
                pb-[20px]
                flex
                flex-col
                gap-[15px]
                items-center
                "
            >
                <p class="text-8xl font-semibold">
                    sense
                </p>

                <p class="text-xl">
                    System One Search Engine
                </p>

                <form class="w-full flex" onsubmit="event.preventDefault(); this.reset(); console.log('submitting form');">
                    <textarea 
                        rows="1" 
                        class="
                        min-w-full
                        max-w-full
                        p-2
                        field-sizing-content
                        resize-none
                        rounded-md
                        border-[1px]
                        focus:outline-none
                        "
                        onkeydown="if (event.key === 'Enter' && !event.shiftKey) { event.preventDefault(); this.form.requestSubmit(); }"
                        placeholder="What do you want to know?"
                    ></textarea>
                    <button
                        class="min-w-[25px] aspect-square bg-red-500"
                        onclick="event.preventDefault(); this.form.requestSubmit();"
                    >
                        test
                    </button>
                </form>
            </div>

            <!-- results -->
            <div id="results" class="w-full h-fit flex-1"></div>

            <div class="flex justify-between text-zinc-500">
                <p>
                    &copy All rights reserved
                    <span>
                        <a
                            class="
                            text-emerald-700
                            hover:underline
                            "
                            href="https://gavrh.com" target="_blank"
                        >Gavin Holmes</a>
                    </span>
                </p>
                <p>
                    <a class="
                        text-emerald-700
                        hover:underline
                        "
                        href="https://github.com/gavrh/sense" target="_blank"
                    >Source</a>
                    <span>(AGPL-3.0)</span>
                </p>
            </div>
        </div>
    </body>
</html>
{{ end }}
